@media (max-width: 1799px) and (min-width: 1200px) {

    .header_height {
        height: 110px;
    }
    
    .mid_height {
        height: 300px;
    }

    .bottom_height {
        height: calc(100vh - 410px);
    }

    .wid_210 {
        width: 180px;
    }

    .btn_box1 {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .home_pic_box {
        width: 90vw;
    }

    .icon{
        height: 57px;
        width: 57px;
    }

    .mus_pic_box {
        width: 350px;
    }

    .mus_pic_size {
        width: 300px;
        height: 300px;
    }

    .video_box {
        width: 63vw;
    }
    
    .video {
        width: 350px;
    }

    .video_box_in{
        margin: 0 auto 40px;
    }
    
    .video_height {
        height: 250px;
    }

    .scroll_btn, .scroll_btn_top, .scroll_btn_mid, .scroll_btn_bot{
        width: 25px;
        height: 25px;
    }

    #outside_box {
        #header {
            #nav_box {
                ul {
                    li {
                        padding: 17px 0;

                        h4,
                        h5 {
                            font-size: 14px;
                        }
                    }
                }
            }
            #control_box{
                height: 60px;

                #icon {
                    left: 13vw;
    
                    h2,
                    h3 {
                        font-size: 28px;
                        margin: 0;
                        padding: 3px 24px;
                    }
    
                    h4,
                    h5 {
                        font-size: 18px;
                        margin: 0;
                        padding: 2px 25px;
                    }
                }

                #control_btn_box {
                    height: 60px;
                }

                .bot_0 {
                    bottom: -110px;
                }
            }
        }

        #main {
    
            #home {
    
                #home_box {
                    height: calc(100vh - 110px);

                    #home_text1 {
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }
    
                    #home_text2 {
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }
                }
            }
    
            #mus1 {
                position: absolute;
                top: 100vh;
    
                #mus1_box_top {
    
                    #mus1_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus1_box_mid {
                    position: absolute;
                    top: 110px;
    
                    #mus1_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
    
            #mus2 {
                position: absolute;
                top: 200vh;
    
                #mus2_box_top {
    
                    #mus2_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus2_box_mid {
                    position: absolute;
                    top: 110px;
    
                    #mus2_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
        }
        #footer{
            #scroll_btn_box{
                width: 25px;
                height: 75px;
            }
        }
    }
}


@media (max-width: 1199px) and (min-width: 900px) {

    .header_height {
        height: 120px;
    }
        
    .mid_height {
        height: 350px;
    }

    .bottom_height {
        height: calc(100vh - 470px);
    }

    .wid_210 {
        width: 210px;
    }

    .top_50{
        top:40px;
    }

    .wid_15 {
        width: 24vw;
    }

    .wid_5 {
        width: 8vw;
    }

    .btn_box1 {
        width: 70px;
        height: 70px;
        border-radius: 5px;
    }

    .home_pic_box {
        width: 150%;
        height: 115%;
    }

    .icon{
        height: 57px;
        width: 57px;
    }

    .mus_pic_box {
        width: 350px;
    }

    .mus_pic_size {
        width: 300px;
        height: 300px;
    }

    .video_box {
        width: 63vw;
    }
    
    .video_box_in{
        margin: 0 0 70px;
    }
    
    .scroll_btn, .scroll_btn_top, .scroll_btn_mid, .scroll_btn_bot{
        width: 35px;
        height: 35px;
    }

    #outside_box {

        .tittle_height {
            height: 40px;
        }

        #header {
            #nav_box {
                height: 40px;
                ul {
                    li {
                        padding: 12.5px 0px;

                        h4,
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            #control_box{
                height: 80px;

                #icon {
                    left: 13vw;
    
                    h2,
                    h3 {
                        font-size: 28px;
                        margin: 0;
                        padding: 6px 20px 0;
                    }
    
                    h4,
                    h5 {
                        font-size: 18px;
                        margin: 0;
                        padding: 6px 22px 0;
                    }
                }

                #control_btn_box {
                    height: 70px;
                }

                .bot_0 {
                    bottom: -120px;
                }
            }
        }

        #main {
    
            #home {
    
                #home_box {
                    height: calc(100vh - 120px);

                    #hbl{
                        float: left;
                        left: 0;
                        position: relative;
                        height: 50%;
                        width: 100vw;

                        #home_pic1 {
                            background-position: 50% 70%;
                        }
                    }

                    #hbr{
                        clear: both;
                        float: left;
                        bottom: -8%;
                        left: -68%;
                        position: relative;
                        height: 50%;
                        width: 125vw;
                        
                        #home_pic2 {
                            background-position: 50% 60%;
                        }
                    }

                    #home_text1 {
                        margin: 5vh 40vw;
                        width: 200px;
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }
    
                    #home_text2 {
                        margin: 50vh 40vw 10vh;
                        width: 200px;
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }

                    #home_choice1 {
                        left: 0;
                        width: 100vw;
                        top: 0;
                        height: 50%;
                    }
    
                    #home_choice2 {
                        right: 0;
                        height: 50%;
                        width: 100vw;
                    }
                }
            }
    
            #mus1 {
                position: absolute;
                top: 100vh;
    
                #mus1_box_top {
    
                    #mus1_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus1_box_mid {
                    position: absolute;
                    top: 120px;
    
                    #mus1_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
    
            #mus2 {
                position: absolute;
                top: 200vh;
    
                #mus2_box_top {
    
                    #mus2_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus2_box_mid {
                    position: absolute;
                    top: 120px;
    
                    #mus2_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
        }
        #footer{
            #scroll_btn_box{
                width: 35px;
                height: 105px;
            }
        }
    }
}

@media (max-width: 899px) and (min-width: 500px) {

    .header_height {
        height: 120px;
    }
        
    .mid_height {
        height: 400px;
    }

    .bottom_height {
        height: calc(100vh - 520px);
    }

    .wid_210 {
        width: 210px;
    }

    .top_50{
        top:40px;
    }

    .wid_15 {
        width: 30vw;
    }

    .wid_5 {
        width: 10vw;
    }

    .bot_120 {
        bottom: 220px;
    }

    .btn_box1 {
        width: 70px;
        height: 70px;
        border-radius: 5px;
    }

    .home_pic_box {
        width: 160%;
        height: 115%;
    }

    .icon{
        height: 57px;
        width: 57px;
    }

    .mus_pic_box {
        width: 350px;
    }

    .mus_pic_size {
        width: 300px;
        height: 300px;
    }

    .video_box {
        width: 63vw;
    }
    
    .video_box_in{
        margin: 0 0 70px;
    }
    
    .scroll_btn, .scroll_btn_top, .scroll_btn_mid, .scroll_btn_bot{
        width: 35px;
        height: 35px;
    }

    #outside_box {

        .tittle_height {
            height: 40px;
        }

        #header {
            #nav_box {
                height: 40px;
                ul {
                    li {
                        padding: 12.5px 0px;

                        h4,
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            #control_box{
                height: 80px;

                #icon {
                    left: 13vw;
    
                    h2,
                    h3 {
                        font-size: 28px;
                        margin: 0;
                        padding: 6px 20px 0;
                    }
    
                    h4,
                    h5 {
                        font-size: 18px;
                        margin: 0;
                        padding: 6px 22px 0;
                    }
                }

                #control_btn_box {
                    height: 70px;
                }

                .bot_0 {
                    bottom: -120px;
                }
            }
        }

        #main {
    
            #home {
    
                #home_box {
                    height: calc(100vh - 120px);

                    #hbl{
                        float: left;
                        left: 0;
                        position: relative;
                        height: 50%;
                        width: 100vw;

                        #home_pic1 {
                            background-position: 50% 70%;
                        }
                    }

                    #hbr{
                        clear: both;
                        float: left;
                        bottom: -8%;
                        left: -72%;
                        position: relative;
                        height: 50%;
                        width: 125vw;
                        
                        #home_pic2 {
                            background-position: 50% 60%;
                        }
                    }

                    #home_text1 {
                        margin: 2vh 37vw;
                        width: 200px;
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }
    
                    #home_text2 {
                        margin: 45vh 37vw 10vh;
                        width: 200px;
                        height: 200px;
    
                        h2,h3{
                            font-size: 48px;
                        }
    
                        h4,h5{
                            font-size: 32px;
                        }
                    }

                    #home_choice1 {
                        left: 0;
                        width: 100vw;
                        top: 0;
                        height: 50%;
                    }
    
                    #home_choice2 {
                        right: 0;
                        height: 50%;
                        width: 100vw;
                    }
                }
            }
    
            #mus1 {
                position: absolute;
                top: 100vh;
    
                #mus1_box_top {
    
                    #mus1_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus1_box_mid {
                    position: absolute;
                    top: 120px;
    
                    #mus1_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
    
            #mus2 {
                position: absolute;
                top: 200vh;
    
                #mus2_box_top {
    
                    #mus2_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus2_box_mid {
                    position: absolute;
                    top: 120px;
    
                    #mus2_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
        }
        #footer{
            #scroll_btn_box{
                width: 35px;
                height: 105px;
            }
        }
    }
}

@media (max-width: 499px) {

    .header_height {
        height: 80px;
    }
        
    .mid_height {
        height: 250px;
    }

    .bottom_height {
        height: calc(100vh - 330px);
    }

    .right_20{
        right: 5vw;
    }

    .wid_210 {
        width: 120px;
    }

    .top_50{
        top:40px;
    }

    .wid_15 {
        width: 90vw;
    }

    .wid_5 {
        width: 20vw;
    }

    .bot_120 {
        bottom: 500px;
    }

    .btn_box1 {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .home_pic_box {
        width: 160%;
        height: 115%;
    }

    .icon{
        height: 38px;
        width: 38px;
    }

    .mus_pic_box {
        width: 230px;
    }

    .mus_pic_size {
        width: 200px;
        height: 200px;
    }

    .mus_btn {

        .mus_img_box {
            width: 30px;
            height: 30px;

            .mus_img{
                width: 30px;
                height: 30px;
            }
        }
    }

    .text_top{
        left: 5vw;
    }

    .text_mid{
        left: 5vw;
    }

    .video {
        width: 90vw;
    }

    .video_box {
        width: 90vw;
    }
    
    .video_box_in{
        margin: 0 0 75px;
    }
    
    .scroll_btn, .scroll_btn_top, .scroll_btn_mid, .scroll_btn_bot{
        width: 25px;
        height: 25px;
    }

    #outside_box {

        .tittle_height {
            height: 40px;
        }

        #header {
            #nav_box {
                height: 40px;
                ul {
                    li {
                        padding: 11.5px 15px;

                        h4,
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            #control_box{
                height: 40px;

                #icon {
                    left: -6vw;
                    width: 50vw;
                    height: 40px;
    
                    h2,
                    h3 {
                        font-size: 16px;
                        margin: 0;
                        padding: 2px 20px 0;
                    }
    
                    h4,
                    h5 {
                        font-size: 12px;
                        margin: 0;
                        padding: 2px 22px 3px;
                    }
                }

                #control_btn_box {
                    height: 40px;
                }

                .bot_0 {
                    bottom: -80px;
                }
            }
        }

        #main {
    
            #home {
    
                #home_box {
                    height: calc(100vh - 80px);

                    #hbl{
                        float: left;
                        left: 0;
                        position: relative;
                        height: 50%;
                        width: 110vw;

                        #home_pic1 {
                            background-position: 50% 70%;
                        }
                    }

                    #hbr{
                        clear: both;
                        float: left;
                        bottom: -8%;
                        left: -82%;
                        position: relative;
                        height: 50%;
                        width: 130vw;
                        
                        #home_pic2 {
                            background-position: 50% 60%;
                        }
                    }

                    #home_text1 {
                        margin: 2vh 27vw;
                        width: 150px;
                        height: 100px;
    
                        h2,h3{
                            font-size: 26px;
                        }
    
                        h4,h5{
                            font-size: 18px;
                        }
                    }
    
                    #home_text2 {
                        margin: 45vh 26vw 10vh;
                        width: 150px;
                        height: 100px;
    
                        h2,h3{
                            font-size: 26px;
                        }
    
                        h4,h5{
                            font-size: 18px;
                        }
                    }

                    #home_choice1 {
                        left: 0;
                        width: 100vw;
                        top: 0;
                        height: 50%;
                    }
    
                    #home_choice2 {
                        right: 0;
                        height: 50%;
                        width: 100vw;
                    }
                }
            }
    
            #mus1 {
                position: absolute;
                top: 100vh;
    
                #mus1_box_top {
    
                    #mus1_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus1_box_mid {
                    position: absolute;
                    top: 80px;
    
                    #mus1_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
    
            #mus2 {
                position: absolute;
                top: 200vh;
    
                #mus2_box_top {
    
                    #mus2_text1{
                        h3,h4{
                            font-size: 32px;
                        }
                    }
                }
    
                #mus2_box_mid {
                    position: absolute;
                    top: 80px;
    
                    #mus2_text2{
                        h3,h4{
                            font-size: 38px;
                        }
                    }
                }
            }
        }
        #footer{
            #scroll_btn_box{
                width: 25px;
                height: 75px;
            }
        }
    }
}