@import'./rwd1.css';
@import'./rwd2.css';
@import'./rwd3.css';
@import'./rwd4.css';
@import'./rwd5.css';
html,body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
h2,h3{
    font-family: 'Be Vietnam', sans-serif;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section, article {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    background: #000;   
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}
.screen_box{
    overflow: hidden;
}
.main_body {
    width: 100vw;
    height: 500vh;
    position: absolute;
    top:0;
    transition-duration: 1s;
}
.sec_size{
    width: 100vw;
    height: 100vh;    
    position: absolute;
}
.nav_bar{
    position: fixed;
    z-index: 2;
}
.nav_a{
    text-decoration: none;
}
.none{
    display: none;
}
.btn .ta:hover{
    animation-name: change_text_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.btn .ta2:hover{
    animation-name: change_text_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#Nav_page{
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
.transparency{
    opacity: 0;
}
.CT .transparency{
    opacity: 0;
}
.page_cover{
    background-color: #193357;
    transition-duration: 1s;
    top:-100%;
}
#Nav_page .pcm{
    top:0;
}
#Nav_page .hm{
    position: absolute;
}
#Logo_bar2 .list{
    display: block;
    cursor: pointer;
}
.hm .list .cross1{
    transform: rotate(45deg);
    transform-origin: 0% 50%;
}
.hm .list .cross2{
    transform:  rotate(-45deg);
    transform-origin: 0% 50%;
}
#Nav_page #Logo_bar2 .list .short{
    width: 0px;
    background-color: rgb(54, 181, 143);
}
.page_cover .nav{
    width: 100vw;
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.ta{
    color: rgb(245, 238, 228);
}
.ta2{
    color: rgb(245, 238, 228);
    line-height: 40px;
}
.hm{
    background-color: #A3CEDD;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-duration: 1s;
    cursor: pointer;
}
.hm:hover{
    background-color: #DBB2CD;
}
.hm .icon{
    background-image: url(../img/icon/icon_v1.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.hm .list{
    position: relative;
    display: none;
}
.list .bar{
    background-color:#646B94;
    transition-duration: 0.4s;    
    position: absolute;
}
.list:hover .bar{
    background-color: #B54536;
}
#Burger .short1{
    width: 0;
    background-color: rgb(54, 181, 143);
}
#Burger .short2{
    background-color: rgb(54, 181, 143);
}
#navbar .grow .list{
    display: block;
}
.nav_bar .nav_box{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;     
}
.nav_body{
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: 1s;
}
.nav_border{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    border-top: 0.2px solid rgb(245, 238, 228);
    border-bottom: 0.2px solid rgb(245, 238, 228);
    transition-duration: 1s; 
}
.nav_box .nav{
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.tittle_box{
    height: 360px;
    position: absolute;
    right: 0;
}
.tittle_size{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.HP{
    background-color: #001017;
}
.HP .earth{
    border-radius: 50%;
    background-image: url(../img/earth/earth01.jpg);
    background-position: 50%;
    background-repeat: none;
    background-size: 120vh;
    position: absolute;
}