@import'./rwd1.css';
@import'./rwd2.css';
@import'./rwd3.css';
@import'./rwd4.css';
@import'./rwd5.css';
html,body {
    position: relative;
    height: 100%;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
h2, h3, h4, h5, h6{
    font-family: 'Be Vietnam', sans-serif;
    margin: 0;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section, article {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    background: #000;   
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}
.screen_box{
    overflow: hidden;
}
.main_body {
    width: 100vw;
    height: 500vh;
    position: absolute;
    top:0;
    transition-duration: 1s;
}
.sec_size{
    width: 100vw;
    height: 100vh;    
    position: absolute;
}
.nav_bar{
    position: fixed;
    z-index: 2;
}
.nav_a{
    text-decoration: none;
}
.none{
    display: none;
}
.btn .ta:hover{
    animation-name: change_text_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.btn .ta2:hover{
    animation-name: change_text_color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#Nav_page{
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
.transparency{
    opacity: 0;
}
.CT .transparency{
    opacity: 0;
}
.page_cover{
    background-color: #193357;
    transition-duration: 1s;
    top:-100%;
}
#Nav_page .pcm{
    top:0;
}
#Nav_page .hm{
    position: absolute;
}
#Logo_bar2 .list{
    display: block;
    cursor: pointer;
}
.hm .list .cross1{
    transform: rotate(45deg);
    transform-origin: 0% 50%;
}
.hm .list .cross2{
    transform:  rotate(-45deg);
    transform-origin: 0% 50%;
}
#Nav_page #Logo_bar2 .list .short{
    width: 0px;
    background-color: rgb(54, 181, 143);
}
.page_cover .nav{
    width: 100vw;
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.ta{
    color: rgb(245, 238, 228);
}
.ta2{
    color: rgb(245, 238, 228);
    line-height: 40px;
}
.hm{
    background-color: #A3CEDD;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-duration: 1s;
    cursor: pointer;
}
.hm:hover{
    background-color: #DBB2CD;
}
.hm .icon{
    background-image: url(../img/icon/icon_v1.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.hm .list{
    position: relative;
}
.list .bar{
    background-color:#646B94;
    transition-duration: 0.4s;    
    position: absolute;
}
.list:hover .bar{
    background-color: #B54536;
}
#Burger .short1{
    width: 0;
    background-color: rgb(54, 181, 143);
}
#Burger .short2{
    background-color: rgb(54, 181, 143);
}
#navbar .grow .list{
    display: block;
}
.nav_bar .nav_box{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;     
}
.nav_body{
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: 1s;
}
.nav_border{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    border-top: 0.2px solid rgb(245, 238, 228);
    border-bottom: 0.2px solid rgb(245, 238, 228);
    transition-duration: 1s; 
}
.nav_box .nav{
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.tittle_box{
    height: 360px;
    position: absolute;
    right: 0;
}
.tittle_size{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.HP{
    background-color: #001017;
}
.HP .earth{
    border-radius: 50%;
    background-image: url(../img/earth/earth01.jpg);
    background-position: 50%;
    background-repeat: none;
    background-size: 120vh;
    position: absolute;
}
.HP .mora{
    position: absolute;
}
.mora .rabbit{
    background-image: url(../img/rabbit/rabbit_v1-03.png);
    background-position: 50%;
    background-size: 14vw 12vw;
    background-repeat: no-repeat;
    width: 15vw;
    height: 12.5vw;
    position: absolute;
    left: 50vw;
    bottom: 7vw;
    transform: translate(-25% , 0);
    z-index: 1;
}
.mora .moon{
    background-image: url(../img/moon/moon_v1-02.png);
    background-position: 50%;
    background-size: 100vw 8.2vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 8.2vw;
    position: absolute;
    bottom: 0;
}
.star{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.star .size{
    width: 0.1px;
    height: 0.1px;
    background-color: #FFF0A8;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation-name: shine;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;    
}
@keyframes shine{
    0%{
        width: 0.1px;
        height: 0.1px;
    }
    40%{
        width: 0.1px;
        height: 0.1px;
    }     
    70%{
        width: 1.5vw;
        height: 1.5vw;
    }
    100%{
        width: 0.1px;
        height: 0.1px;
    }
}


.SP{
    background-color: #272b35;
    top:300vh;
}
.court{
    position: absolute;
    cursor: pointer;
}
.court .b_tra{
    position: absolute;
    top:0;
    left:0;
    animation-iteration-count:infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}
.court .ball1{
    background-color: paleturquoise;
    opacity: 0.3;
    animation-name: change_color1;
    animation-duration: 120s; 
}
.court .ball2{
    background-color: palevioletred;
    opacity: 0.3;
    animation-name: change_color2;
    animation-duration: 133s;
}
.court .ball3{
    background-color: rgb(224, 233, 143);
    opacity: 0.4;
    animation-name: change_color3;
    animation-duration: 30s;    
    border-radius: 50%;
}
.t_size{
    position: absolute;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    color: rgb(205, 221, 236);
    opacity: 0.9;
}
.court .disapper{
    display: none;
}
.wt_box2 select{
    cursor: pointer;
    border: 1px solid rgb(212, 209, 212);
    transition-duration: 0.5s;
    text-decoration: none;
}
.wt_box2 select:hover{
    border: 2px solid rgb(235, 148, 199);
}
@keyframes change_text_color{
    25%{
        color: rgb(70, 211, 236);
    }
    50%{
        color: rgb(139, 207, 130);
    }
    75%{
        color: rgb(218, 134, 120);
    }
    100%{
        color: rgb(209, 129, 196);
    }
}
@keyframes change_color1{
    25%{
        transform: rotate(90deg);
        background-color: rgb(190, 94, 190);
    }
    50%{
        transform: rotate(180deg);
        background-color: rgb(116, 146, 231);
    }
    75%{
        transform: rotate(270deg);
        background-color: rgb(101, 230, 123);
    }
    100%{
        transform: rotate(360deg);
        background-color: rgb(161, 179, 63);
    }
}
@keyframes change_color2{
    25%{
        transform: rotate(-90deg);
        background-color: rgb(70, 211, 236);
    }
    50%{
        transform: rotate(-270deg);
        background-color: rgb(56, 180, 39);
    }
    75%{
        transform: rotate(-180deg);
        background-color: rgb(172, 61, 42);
    }
    100%{
        transform: rotate(-360deg);
        background-color: rgb(219, 54, 192);
    }
}
@keyframes change_color3{
    25%{
        background-color: rgb(198, 137, 226);
    }
    50%{
        background-color: rgb(147, 216, 138);
    }
    75%{
        background-color: rgb(99, 98, 197);
    }
    100%{
        background-color: rgb(209, 151, 76);
    }
}


.WK{
    top:200vh;
}
.WK .transparency{
    opacity: 0;
}
.wkcolor{
    background-color: #252629;
}
.start_site{
    left: 100vw;
}
.WK .slide_in{
    left: 0;
}
.wk_show_box .slide_in{
    left: 0;
}
#works .slide_out{
    left: -100vw;
}
#wk_showbox .slide_out{
    left: -100vw;
}
.matte_full{
    background-size: contain;
    background-repeat: no-repeat;
}
.matte{
    background-size: cover;
    background-repeat: no-repeat;
}
.matte1f{
    background-image:url(../img/MP/P1/P1F.jpg);    
    background-position: 25% 60%;
}
.matte2{
    background-image: url(../img/MP/P1/P1e2.jpg);
    background-position: 25% 50%;
}
.matte21f{
    background-image:url(../img/MP/P2/P2F.jpg);    
    background-position: 50% 50%;    
}
.matte22{
    background-image: url(../img/MP/P2/P1e2.jpg);
    background-position: 60% 50%;
}
.wk_show_box{
    background-color: rgb(12, 12, 22);
    z-index: 1;
    transition-duration: 0.5s;
    opacity: 1;
}
.wk_show1{
    position: absolute;
}
.wk_show2{
    position: absolute;
}
.wk_show3{
    position: absolute;
}
.wk_btn_box1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.wk_btn_box2{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.wk_btn_size{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wk_btn1{    
    background-image: url(../img/icon/arrow_left_icon.png);
}
.wk_btn2{    
    background-image: url(../img/icon/arrow_right_icon.png);
}
.wk_btn3{
    color: #E3E4EE;
    opacity: 1;
    animation-name: wk_btn_shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.wk_btn:hover{
    animation-iteration-count: 1;
}
@keyframes wk_btn_shine{
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.ST{
    top:100vh;
}
.ab_size{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.ab_box{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(45, 45, 48);
    transition-duration: 1s;
    left: -100vw;
}
#about .ab_box_show{
    left: 0;
}
.ab_click{
    position: absolute;
    background-image: url(../img/about_me/ab_click.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.s_color{
    background-color: rgb(45, 45, 48);
}
.b_border{
    border: 2px solid rgb(10, 10, 10);
    border-radius: 50%;
    position: relative;
}
.b2_size{
    border-radius: 50%;
}
.b2_size:hover{
    background-color: #A3CEDD;
}
.bt{
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition-duration: 1s;
}
.sb1{
    background-color: #193357;
}
.sb2{
    background-color: #5C748A;
}
.sb3{
    background-color: #3B5571;
}
.st_btn_box1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.st_btn_size{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.st_btn1{    
    background-image: url(../img/icon/arrow_left_icon.png);
}
.st_btn2{    
    background-image: url(../img/icon/arrow_right_icon.png);
}
.about_icon{
    position: absolute;
    background-image: url(../img/icon/about_icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
}


.CT{
    top:400vh;
    background-color: rgba(207, 221, 235, 0.877);
}
.CT .control_bar{
    transform: rotate(-60deg);
    display: block;
    opacity: 0.8;
    z-index: 1;
}
.sun_box{
    height: 5px;
    position: absolute;
    bottom: 0;
    transition-duration: 1s;
    opacity: 0;
}
.c_sun{
    background-image: url(../img/icon/sun_icon.png);
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    right: -80px;
    top:-80px;
}
.moon_box{
    height: 5px;
    position: absolute;
    bottom: 0;
    transition-duration: 1s;
    opacity: 0;
}
.c_moon{
    background-image: url(../img/icon/moon_icon.png);
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    right: -105px;
    top:-105px;
}
.ani{
    left: 0;
    background-position-x: 25%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;  
}
.ani_on{
    animation-name: bcgmove;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.mt3{
    bottom: -22vh;
    background-image: url(../img/mountain/mt03.png);
    animation-duration: 90s;
}
.mt2{
    bottom: -17.6vh;
    background-image: url(../img/mountain/mt02.png);
    animation-duration: 45s;
}
.mt1{
    bottom: -11vh;
    background-image: url(../img/mountain/mt01.png);
    animation-duration: 35s;
}
.night{
    background-image: url(../img/mountain/night.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: absolute;
    top:0;
    left: 0;
    transition-duration: 1s;
}
.ct_text{
    position: absolute;
}
.text5{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: rgb(210, 205, 236);
    opacity: 0.9;
    transition-duration: 1s;
}
.text_color{
    color: rgb(60, 59, 66); 
}
.switch{
    position: absolute;
    border: 2px solid black;
    background-color: gray;
    transition-duration: 0.2s;
    cursor: pointer;
}
.CT .sw_color{
    background-color: rgb(50, 122, 205);
}
.sw_control{
    border-radius: 50%;
    background-color: #5C748A;
    border: 0.2px solid black;
    position: absolute;
    top:0px;
    transition-duration: 0.2s;
}
@keyframes bcgmove{
    0%{
        background-position-x: 25%;
    }
    100%{
        background-position-x: 75%;
    }
}