@media (max-width: 1799px) and (min-width: 1200px) {
    
    #Nav_page .grow{
        width: 140px;
        border-radius: 35px;
    }
    .hm .list .cross1{
        top:0px;
        width: 54px;
    }
    .hm .list .cross2{
        top:38px;
        width: 54px;
    }
    .page_cover .nav{
        top: 27vh;
    }
    .ta{
        font-size: 22px;
    }
    .ta2{
        font-size: 40px;
    }
    .nav_bar{
        width: calc(100vw - 60px);
        height: 72px;
        top: 30px;
        left: 30px;
    }


    .hm{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 30px;
        left: 30px;
    }
    #navbar .grow{
        width: 140px;
        border-radius: 35px;
    }
    .hm .icon{
        min-width: 50px;
        min-height: 50px;
    }
    .hm .list{
        min-width: 42px;
        min-height: 42px;
        display: none;
    }
    .list .bar{
        width: 42px;
        height: 6px;
        border-radius: 3px;
    }
    #Burger .short2{
        width: 21px;
    }
    #Burger .bar:nth-child(1){
        top:0px;
    }
    #Burger .bar:nth-child(2){
        top:18px;
    }
    #Burger .bar:nth-child(3){
        top:36px;
    }
    .nav_bar .nav_box{
        width: 23vw;
        height: 70px;     
    }
    .nav_body{
        width: 50vw;
        height: 350px;
    }
    .nav_border{
        width: 23vw;
        height: 70px; 
    }
    .nav_box .nbg{
        width: 10vw;
    }
    .nav_box .nav{
        width: 23vw;
        height: 70px;
    }    
    .tittle_box{
        width: 10vw;
        top: 80px;
    }
    .tittle_size{
        width: 10vw;
    }


    .HP .earth{
        height: 56vh;
        width: 56vh;
        top:40px;
    }
    .HP .mora{
        width: 100vw;
        height: 38vh;
        bottom: -2vh;
    }
    .star .size:nth-child(1){
        top: 19vh;
        left: 13.5vw;
    }
    .star .size:nth-child(2){
        top: 49vh;
        left: calc(30px + 1.5vw);
    }
    .star .size:nth-child(3){
        top: 63vh;
        left: 28vw;
    }
    .star .size:nth-child(4){
        top: 83vh;
        left: 11vw;
    }
    .star .size:nth-child(5){
        top: 32vh;
        left: 88.6vw;
        animation-delay: 2s;
    }
    .star .size:nth-child(6){
        top: 59vh;
        left: calc(98.5vw - 30px);
        animation-delay: 2s;
    }
    .star .size:nth-child(7){
        top: 72vh;
        left: 69.7vw;
        animation-delay: 2s;
    }
    
    
    .court{
        width: 600px;
        height: 600px;
        top:calc(50vh - 300px);
        left:calc(50vw - 300px);
    }
    .b_size{
        width: 600px;
        height: 600px;                            
    }
    .court .ball1{
        border-radius: 280px 265px 275px 270px; 
    }
    .court .ball2{
        border-radius: 260px 290px 265px 245px;
    }
    .t_size{
        width: 600px;
        height: 220px;
        top:190px;
    }
    h4{
        font-size: 90px;
    }
    h5{
        font-size: 70px;
    }
    h6{
        font-size: 45px;
    }
    .wt_box2{
        width: 600px;
        height: 100px;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        bottom: 40px;
    }
    .wt_box2 select{
        background-color: rgb(51, 51, 51);
        color: rgb(182, 179, 174);
        width: 155px;
        height: 30px;
        font-size: 16px;
    }
    
    
    .matte1{
        top: 0;
        left: 0;
    }
    .matte2{
        top: 33vh;
        left: 0;
    }
    .matte3{
        top: 67vh;
        left: 0;
    }
    .matte4{
        top: 0;
        right: 0;
    }
    .matte5{
        top: 33vh;
        right: 0;
    }
    .matte6{
        top: 67vh;
        right: 0;
    }
    .matte21{
        top: 0;
        left: 0;
    }
    .matte22{
        top: 33vh;
        left: 0;
    }
    .matte23{
        top: 67vh;
        left: 0;
    }
    .matte24{
        top: 0;
        right: 0;
    }
    .matte25{
        top: 33vh;
        right: 0;
    }
    .matte26{
        top: 67vh;
        right: 0;
    }
    .wk_show1{
        width: 60vw;
        height: 100vh;
        left:20vw;
    }
    .wk_show2{
        width: 20vw;
        height: 33vh;
    }
    .wk_show3{
        width: 20vw;
        height: 34vh;
    }
    .wk_btn_box1{
        width: 100vw;
        height: 50vh;
        bottom: 20vh;
    }
    .wk_btn_box2{
        width: 600px;
        height: 100px;
        bottom: 40px;
        left: calc(50vw - 300px);
    }
    .wk_btn_size{
        width: 120px;
        height: 210px;
    }
    .wk_btn3{
        font-size: 60px;
    }
    
    
    .ab_size{
        width: 65vw;
        height: 63vh;
        left: 17.5vw;
        bottom: 15vh;
    }
    .name{
        background-image: url(../img/about_me/name.png);
    }
    .skill{
        background-image: url(../img/about_me/about_me.png);
    }
    .letter{
        background-image: url(../img/about_me/letter.png);
    }
    .ab_click{
        width: 450px;
        height: 450px;
        top:calc(50vh - 230px);
        left: calc(50vw - 220px);
    }
    .b2_size{
        width: 45px;
        height: 45px;
    }
    .b1t{
        top:0;
        left: 300px;
    }
    .b2t{
        top:442px;
        left: 35px;
    }
    .b3t{
        top:442px;
        right: -10px;
    }
    .st_btn_box1{
        width: 100vw;
        height: 50vh;
        bottom: 20vh;
    }
    .st_btn_size{
        width: 150px;
        height: 270px;
    }
    .about_icon{
        width: 91px;
        height: 91px;
        bottom: 30px;
        right: 40px;
    }


    .sun_box{
        width: 1500px;
        left: -10vw;
    }
    .c_sun{
        width: 8vw;
        height: 8vw;
    }
    .moon_box{
        width: 1300px;
        left: -30vw;
    }
    .c_moon{
        width: 11vw;
        height: 11vw;
    }
    .ct_text{
        top:7%;
        left: 15%;
    }
    .text5{
        font-size: 22px;
        line-height: 64px;
        width: 35vw;
        height: 35vh;
    }
    .switch{
        width: 80px;
        height: 40px;
        border-radius: 21px;
        bottom: 36px;
        right: 36px;
    }
    .sw_control{
        width: 38px;
        height: 38px;
        right: 0px;
    }
    .switch .sw_on{
        right:40px;
    }
    
}