@media (max-width: 599px) {
    #Nav{
        display: none;
    }
    #Nav_page .grow{
        width: 100px;
        border-radius: 25px;
    }    
    .hm .list .cross1{
        top:3px;
        width: 48px;
    }
    .hm .list .cross2{
        top:37px;
        width: 48px;
    }
    .page_cover .nav{
        top: 34vh;
    }
    .ta{
        font-size: 16px;
    }
    .ta2{
        font-size: 30px;
    }
    .nav_bar{
        width: 100vw;
        height: 52px;
        top: 0px;
        left: 0px;
    }


    .hm{
        width: 100px;
        height: 52px;
        border-radius: 26px;
        top: 10px;
        left: 0px;
    }
    #navbar .grow{
        width: 100px;
        border-radius: 25px;
    }
    .hm .icon{
        min-width: 40px;
        min-height: 40px;
    }
    .hm .list{
        min-width: 42px;
        min-height: 42px;
    }
    .list .bar{
        width: 32px;
        height: 4px;
        border-radius: 3px;
    }
    #Burger .short2{
        width: 16px;
    }
    #Burger .bar:nth-child(1){
        top:5px;
    }
    #Burger .bar:nth-child(2){
        top:20px;
    }
    #Burger .bar:nth-child(3){
        top:35px;
    }
    .nav_bar .nav_box{
        width: 30vw;
        height: 60px;    
    }
    .nav_body{
        width: 50vw;
        height: 350px;
    }
    .nav_border{
        width: 0vw;
        height: 50px;
        top: 10px;
    }
    .nav_box .nbg{
        width: 20vw;
    }
    .nav_box .nav{
        width: 40vw;
        height: 60px;
    }    
    .tittle_box{
        width: 20vw;
        top: 80px;
    }
    .tittle_size{
        width: 20vw;        
    }


    .HP .earth{
        height: 40vh;
        width: 40vh;
        top:15vh;
    }
    .HP .mora{
        width: 100vw;
        height: 38vh;
        bottom: 0vh;
    }
    .star .size:nth-child(1){
        top: 56vh;
        left: 25vw;
    }
    .star .size:nth-child(2){
        top: 24vh;
        left: calc(10px + 1.5vw);
    }
    .star .size:nth-child(3){
        top: 69vh;
        left: 48vw;
    }
    .star .size:nth-child(4){
        top: 83vh;
        left: 11vw;
    }
    .star .size:nth-child(5){
        top: 13vh;
        left: 81vw;
        animation-delay: 2s;
    }
    .star .size:nth-child(6){
        top: 59vh;
        left: calc(98.5vw - 30px);
        animation-delay: 2s;
    }
    .star .size:nth-child(7){
        top: 76vh;
        left: 69.7vw;
        animation-delay: 2s;
    }

    
    .court{
        width: 300px;
        height: 300px;
        top:calc(50vh - 150px);
        left:calc(50vw - 150px);
    }
    .b_size{
        width: 300px;
        height: 300px;                            
    }
    .court .ball1{
        border-radius: 140px 145px 138px 135px; 
    }
    .court .ball2{
        border-radius: 130px 145px 132px 122px;
    }
    .t_size{
        width: 300px;
        height: 200px;
        top:40px;
    }
    h4{
        font-size: 50px;
    }
    h5{
        font-size: 35px;
    }
    h6{
        font-size: 20px;
    }
    .wt_box2{
        width: 600px;
        height: 60px;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        bottom: 40px;
    }
    .wt_box2 select{
        background-color: rgb(51, 51, 51);
        color: rgb(182, 179, 174);
        width: 130px;
        height: 30px;
        font-size: 13px;
    }
    
    
    
    .wk_show1{
        width: 100vw;
        height: 34vh;
        left:0vw;
        top:33vh;
    }
    .wk_show2{
        width: 33vw;
        height: 33vh;
    }
    .wk_show3{
        width: 34vw;
        height: 33vh;
    }
    .wk_btn_box1{
        width: 110vw;
        height: 30vh;
        bottom: 30vh;
    }
    .wk_btn_box2{
        width: 200px;
        height: 50px;
        bottom: 7vh;
        left: calc(50vw - 100px);
    }
    .wk_btn_size{
        width: 70px;
        height: 130px;
    }
    .wk_btn3{
        font-size: 26px;
    }
    

    .ab_size{
        width: 100vw;
        height: 75vh;
        left: 0vw;
        bottom: 15vh;
    }
    .name{
        background-image: url(../img/about_me/name_v2.png);
    }
    .skill{
        background-image: url(../img/about_me/about_me_v2.png);
    }
    .letter{
        background-image: url(../img/about_me/letter_v2.png);
    }
    .ab_click{
        width: 200px;
        height: 200px;
        top:calc(50vh - 100px);
        left: calc(50vw - 100px);
    }
    .b2_size{
        width: 25px;
        height: 25px;
    }
    .b1t{
        top:0;
        left: 150px;
    }
    .b2t{
        top:247px;
        left: 35px;
    }
    .b3t{
        top:247px;
        right: 10px;
    }
    .st_btn_box1{
        width: 110vw;
        height: 30vh;
        bottom: 33vh;
        left: -5vw;
    }
    .st_btn_size{
        width: 70px;
        height: 130px;
    }
    .about_icon{
        width: 60px;
        height: 60px;
        bottom: 10vh;
        right: 5px;
    }


    .sun_box{
        width: 750px;
        left: -80vw;
    }
    .c_sun{
        width: 80px;
        height: 80px;
    }
    .moon_box{
        width: 470px;
        left: -67vw;
    }
    .c_moon{
        width: 100px;
        height: 100px;
    }
    .ct_text{
        top:10%;
        left: 13%;
    }
    .text5{
        font-size: 14px;
        line-height: 38px;
        width: 80vw;
        height: 25vh;
    }
    .switch{
        width: 60px;
        height: 30px;
        border-radius: 30px;
        bottom: 10vh;
        right: 6px;
    }
    .sw_control{
        width: 28px;
        height: 28px;
        right: 0px;
    }
    .switch .sw_on{
        right:30px;
    }
    
}