@media (max-width: 599px) {
    html,body {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    h2,h3{
        font-family: 'Be Vietnam', sans-serif;
    }
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .screen_box{
        overflow: hidden;
    }
    .main_body {
        width: 100vw;
        height: 500vh;
        position: absolute;
        top:0;
        transition-duration: 1s;
    }
    .sec_size{
        width: 100vw;
        height: 100vh;    
        position: absolute;
    }
    #Nav{
        display: none;
    }
    .nav_a{
        text-decoration: none;
    }
    .none{
        display: none;
    }
    .btn .ta:hover{
        animation-name: change_text_color;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .btn .ta2:hover{
        animation-name: change_text_color;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    #Nav_page{
        position: fixed;
        top:0;
        left: 0;
        z-index: 3;
    }
    .transparency{
        opacity: 0;
    }
    .CT .transparency{
        opacity: 0;
    }
    section, article {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 18px;
        background: #000;   
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
    }
    .page_cover{
        background-color: #193357;
        transition-duration: 1s;
        top:-100%;
    }
    #Nav_page .pcm{
        top:0;
    }
    #Nav_page .hm{
        position: absolute;
    }
    #Nav_page .grow{
        width: 100px;
        border-radius: 25px;
    }
    #Logo_bar2 .list{
        display: block;
        cursor: pointer;
    }
    #Logo_bar2 .cross1{
        top:20px;
        min-width: 47px;
        transform: translate(-15%, 0%) rotate(45deg);
    }
    #Logo_bar2 .cross2{
        top:20px;
        min-width: 47px;
        transform: translate(-15%, 0%) rotate(-45deg);
    } 
    .page_cover .nav{
        width: 100vw;
        height: 40vh;
        position: absolute;
        top: 34vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .ta2{
        font-size: 30px;
        color: rgb(245, 238, 228);
        line-height: 40px;
    }
    
    .HP{
        background-color: #001017;
    }
    .nav_bar{
        width: 100vw;
        height: 52px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
    .hm{
        width: 102px;
        height: 52px;
        border-radius: 50%;
        background-color: #A3CEDD;
        position: fixed;
        top: 10px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition-duration: 1s;
        border-radius: 26px;
    }
    .hm:hover{
        background-color: #DBB2CD;
    }
    #navbar .grow{
        width: 100px;
        border-radius: 25px;
    }
    .hm .icon{
        min-width: 40px;
        min-height: 40px;
        background-image: url(../img/icon/icon_v1.png);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .hm .list{
        min-width: 42px;
        min-height: 42px;
        position: relative;
        display: block;
    }
    .list .bar{
        min-width: 32px;
        min-height: 4px;
        background-color:#646B94;
        border-radius: 3px;
        transition-duration: 1s;    
        position: absolute;
    }
    .list:hover .bar{
        background-color: #B54536;
    }
    #Burger .bar:nth-child(1){
        top:5px;
    }
    #Burger .bar:nth-child(2){
        top:20px;
    }
    #Burger .bar:nth-child(3){
        top:35px;
    }
    #navbar .grow .list{
        display: block;
    }
    .nav_bar .nav_box{
        width: 30vw;
        height: 60px;
        position: absolute;
        right: 0;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;     
    }
    .nav_body{
        width: 50vw;
        height: 350px;
        position: absolute;
        top: 0;
        right: 0;
        transition-duration: 1s;
    }
    .nav_border{
        width: 0vw;
        height: 50px;
        position: absolute;
        right: 0;
        top: 10px;
        box-sizing: border-box;
        transition-duration: 1s;
        border-top: 0.2px solid rgb(245, 238, 228);
        border-bottom: 0.2px solid rgb(245, 238, 228);
    }
    .nav_box .nbg{
        width: 20vw;
    }
    .nav_box .nav{
        width: 40vw;
        height: 60px;
        position: absolute;
        right: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .ta{
        font-size: 16px;
        color: rgb(245, 238, 228);
    }
    .tittle_box{
        width: 20vw;
        height: 360px;
        position: absolute;
        right: 0;
        top: 80px;
    }
    .tittle_size{
        width: 20vw;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-around;        
    }
    .HP .earth{
        height: 40vh;
        width: 40vh;
        border-radius: 50%;
        background-image: url(../img/earth/earth01.jpg);
        background-position: 50%;
        background-repeat: none;
        background-size: 120vh;
        position: absolute;
        top:15vh;
    }
    .HP .mora{
        width: 100vw;
        height: 38vh;
        position: absolute;
        bottom: 0vh;
    }
    .mora .rabbit{
        background-image: url(../img/rabbit/rabbit_v1-03.png);
        background-position: 50%;
        background-size: 14vw 12vw;
        background-repeat: no-repeat;
        width: 15vw;
        height: 12.5vw;
        position: absolute;
        left: 50vw;
        bottom: 7vw;
        transform: translate(-25% , 0);
        z-index: 1;
    }
    .mora .moon{
        background-image: url(../img/moon/moon_v1-02.png);
        background-position: 50%;
        background-size: 100vw 8.2vw;
        background-repeat: no-repeat;
        width: 100vw;
        height: 8.2vw;
        position: absolute;
        bottom: 0;
    }
    .star{
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .star .size{
        width: 0.1px;
        height: 0.1px;
        background-color: #FFF0A8;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        animation-name: shine;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;    
    }
    .star .size:nth-child(1){
        top: 56vh;
        left: 25vw;
    }
    .star .size:nth-child(2){
        top: 24vh;
        left: calc(10px + 1.5vw);
    }
    .star .size:nth-child(3){
        top: 69vh;
        left: 48vw;
    }
    .star .size:nth-child(4){
        top: 83vh;
        left: 11vw;
    }
    .star .size:nth-child(5){
        top: 13vh;
        left: 81vw;
        animation-delay: 2s;
    }
    .star .size:nth-child(6){
        top: 59vh;
        left: calc(98.5vw - 30px);
        animation-delay: 2s;
    }
    .star .size:nth-child(7){
        top: 76vh;
        left: 69.7vw;
        animation-delay: 2s;
    }
    @keyframes shine{
        0%{
            width: 0.1px;
            height: 0.1px;
        }
        40%{
            width: 0.1px;
            height: 0.1px;
        }     
        70%{
            width: 1.5vw;
            height: 1.5vw;
        }
        100%{
            width: 0.1px;
            height: 0.1px;
        }
    }
    .SP{
        background-color: #272b35;
        top:100vh;
    }
    .court{
        width: 300px;
        height: 300px;
        position: absolute;
        top:calc(50vh - 150px);
        left:calc(50vw - 150px);
    }
    .b_size{
        width: 300px;
        height: 300px;                            
    }
    .court .b_tra{
        position: absolute;
        top:0;
        left:0;
        animation-iteration-count:infinite;
        animation-fill-mode: both;
        animation-direction: alternate-reverse;
    }
    .court .ball1{
        background-color: paleturquoise;
        opacity: 0.3;
        animation-name: change_color1;
        animation-duration: 120s;
        border-radius: 280px 265px 275px 270px; 
    }
    .court .ball2{
        background-color: palevioletred;
        opacity: 0.3;
        animation-name: change_color2;
        animation-duration: 133s;
        border-radius: 260px 290px 265px 245px;
    }
    .court .ball3{
        background-color: rgb(224, 233, 143);
        opacity: 0.4;
        animation-name: change_color3;
        animation-duration: 30s;    
        border-radius: 50%;
    }
    .t_size{
        width: 300px;
        height: 300px;
        position: absolute;
        top:-10px;
        left:0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        color: rgb(205, 221, 236);
        opacity: 0.9;
    }
    .court .disapper{
        display: none;
    }
    .text1{
        font-size: 43px;
        line-height: 80px;
    }
    .text2{
        font-size: 13px;
        line-height: 32px;
    }
    .text3{
        font-size: 43px;
        line-height: 80px;
    }
    .text4{
        font-size: 13px;
        line-height: 32px;
    }
    @keyframes change_text_color{
        25%{
            color: rgb(70, 211, 236);
        }
        50%{
            color: rgb(139, 207, 130);
        }
        75%{
            color: rgb(218, 134, 120);
        }
        100%{
            color: rgb(209, 129, 196);
        }
    }
    @keyframes change_color1{
        25%{
            transform: rotate(90deg);
            background-color: rgb(190, 94, 190);
        }
        50%{
            transform: rotate(180deg);
            background-color: rgb(116, 146, 231);
        }
        75%{
            transform: rotate(270deg);
            background-color: rgb(101, 230, 123);
        }
        100%{
            transform: rotate(360deg);
            background-color: rgb(161, 179, 63);
        }
    }
    @keyframes change_color2{
        25%{
            transform: rotate(-90deg);
            background-color: rgb(70, 211, 236);
        }
        50%{
            transform: rotate(-270deg);
            background-color: rgb(56, 180, 39);
        }
        75%{
            transform: rotate(-180deg);
            background-color: rgb(172, 61, 42);
        }
        100%{
            transform: rotate(-360deg);
            background-color: rgb(219, 54, 192);
        }
    }
    @keyframes change_color3{
        25%{
            background-color: rgb(198, 137, 226);
        }
        50%{
            background-color: rgb(147, 216, 138);
        }
        75%{
            background-color: rgb(99, 98, 197);
        }
        100%{
            background-color: rgb(209, 151, 76);
        }
    }
    .WK{
        top:200vh;
    }
    .WK .transparency{
        opacity: 0;
    }
    .wkcolor{
        background-color: #252629;
    }
    .start_site{
        left: 100vw;
    }
    .WK .slide_in{
        left: 0;
    }
    .wk_show_box .slide_in{
        left: 0;
    }
    #works .slide_out{
        left: -100vw;
    }
    #wk_showbox .slide_out{
        left: -100vw;
    }
    .matte_full{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .matte{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .matte1f{
        background-image:url(../img/MP/P1/P1F.jpg);    
        background-position: 5% 50%;
    }
    .matte1{
        background-image: url(../img/MP/P1/P1e1.jpg);
        background-position: 50% 50%;
        top: 0;
        left: 0;
    }
    .matte2{
        background-image: url(../img/MP/P1/P1e2.jpg);
        background-position: 50% 50%;
        top: 0vh;
        left: 33vw;
    }
    .matte3{
        background-image: url(../img/MP/P1/P1e3.jpg);
        background-position: 50% 50%;
        top: 0vh;
        left: 67vw;
    }
    .matte4{
        background-image: url(../img/MP/P1/P1e4.jpg);
        background-position: 50% 30%;
        bottom: 0;
        right: 0;
    }
    .matte5{
        background-image: url(../img/MP/P1/P1e5.jpg);
        background-position: 50% 50%;
        bottom: 0vh;
        right: 33vw;
    }
    .matte6{
        background-image: url(../img/MP/P1/P1e6.jpg);
        background-position: 50% 5%;
        bottom: 0vh;
        right: 67vw;
    }
    .matte21f{
        background-image:url(../img/MP/P2/P2F.jpg);    
        background-position: 50% 50%;    
    }
    .matte21{
        background-image: url(../img/MP/P2/P1e1.jpg);
        background-position: 50% 50%;
        top: 0;
        left: 0;
    }
    .matte22{
        background-image: url(../img/MP/P2/P1e2.jpg);
        background-position: 50% 50%;
        top: 0vh;
        left: 33vw;
    }
    .matte23{
        background-image: url(../img/MP/P2/P1e3.jpg);
        background-position: 50% 50%;
        top: 0vh;
        left: 67vw;
    }
    .matte24{
        background-image: url(../img/MP/P2/P1e4.jpg);
        background-position: 50% 50%;
        bottom: 0;
        right: 0;
    }
    .matte25{
        background-image: url(../img/MP/P2/P1e5.jpg);
        background-position: 50% 50%;
        bottom: 0vh;
        right: 33vw;
    }
    .matte26{
        background-image: url(../img/MP/P2/P1e6.jpg);
        background-position: 50% 50%;
        bottom: 0vh;
        right: 67vw;
    }
    .wk_show_box{
        background-color: rgb(12, 12, 22);
        z-index: 1;
        transition-duration: 0.5s;
        opacity: 1;
    }
    .wk_show1{
        width: 100vw;
        height: 34vh;
        position: absolute;
        left:0vw;
        top:33vh;
    }
    .wk_show2{
        width: 33vw;
        height: 33vh;
        position: absolute;
    }
    .wk_show3{
        width: 34vw;
        height: 33vh;
        position: absolute;
    }
    .wk_btn_box1{
        width: 110vw;
        height: 30vh;
        position: absolute;
        bottom: 30vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    .wk_btn_box2{
        width: 300px;
        height: 100px;
        position: absolute;
        bottom: 0px;
        left: calc(50vw - 150px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .wk_btn_size{
        width: 70px;
        height: 130px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .wk_btn1{    
        background-image: url(../img/icon/arrow_left_icon.png);
    }
    .wk_btn2{    
        background-image: url(../img/icon/arrow_right_icon.png);
    }
    .wk_btn3{
        font-size: 30px;
        color: #E3E4EE;
        opacity: 1;
        animation-name: wk_btn_shine;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        cursor: pointer;
    }
    .wk_btn:hover{
        animation-iteration-count: 1;
    }
    @keyframes wk_btn_shine{
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .ST{
        top:300vh;
    }
    .ab_size{
        width: 100vw;
        height: 75vh;
        position: absolute;
        left: 0vw;
        bottom: 15vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .name{
        background-image: url(../img/about_me/name_v2.png);
    }
    .skill{
        background-image: url(../img/about_me/about_me_v2.png);
    }
    .letter{
        background-image: url(../img/about_me/letter_v2.png);
    }
    .ab_box{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgb(45, 45, 48);
        transition-duration: 1s;
        left: -100vw;
    }
    #story .ab_box_show{
        left: 0;
    }
    .ab_click{
        width: 200px;
        height: 200px;
        position: absolute;
        top:calc(50vh - 100px);
        left: calc(50vw - 100px);
        background-image: url(../img/about_me/ab_click.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
    .s_color{
        background-color: rgb(45, 45, 48);
    }
    .b_border{
        border: 0.2ch solid rgb(10, 10, 10);
        border-radius: 50%;
        position: relative;
    }
    .b2_size{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    .b2_size:hover{
        background-color: #A3CEDD;
    }
    .bt{
        position: absolute;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition-duration: 1s;
    }
    .b1t{
        top:0;
        left: 150px;
    }
    .b2t{
        top:247px;
        left: 35px;
    }
    .b3t{
        top:247px;
        right: 10px;
    }
    .sb1{
        background-color: #193357;
    }
    .sb2{
        background-color: #5C748A;
    }
    .sb3{
        background-color: #3B5571;
    }
    .st_btn_box1{
        width: 110vw;
        height: 30vh;
        position: absolute;
        bottom: 33vh;
        left: -5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    .st_btn_size{
        width: 70px;
        height: 130px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .st_btn1{    
        background-image: url(../img/icon/arrow_left_icon.png);
    }
    .st_btn2{    
        background-image: url(../img/icon/arrow_right_icon.png);
    }
    .about_icon{
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 10px;
        right: 5px;
        background-image: url(../img/icon/about_icon.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        cursor: pointer;
    }
    .CT{
        top:400vh;
        background-color: rgba(207, 221, 235, 0.877);
    }
    .CT .control_bar{
        transform: rotate(-60deg);
        display: block;
        opacity: 0.8;
        z-index: 1;
    }
    .sun_box{
        width: 750px;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: -80vw;
        transition-duration: 1s;
        opacity: 0;
    }
    .c_sun{
        width: 80px;
        height: 80px;
        background-image: url(../img/icon/sun_icon.png);
        background-position: 50% 50%;
        background-size: contain;
        position: absolute;
        right: -80px;
        top:-80px;
    }
    .moon_box{
        width: 600px;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: -67vw;
        transition-duration: 1s;
        opacity: 0;
    }
    .c_moon{
        width: 100px;
        height: 100px;
        background-image: url(../img/icon/moon_icon.png);
        background-position: 50% 50%;
        background-size: contain;
        position: absolute;
        right: -105px;
        top:-105px;
    }
    .ani{
        left: 0;
        background-position-x: 25%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;  
    }
    .ani_on{
        animation-name: bcgmove;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .mt3{
        bottom: -22vh;
        background-image: url(../img/mountain/mt03.png);
        animation-duration: 90s;
    }
    .mt2{
        bottom: -17.6vh;
        background-image: url(../img/mountain/mt02.png);
        animation-duration: 45s;
    }
    .mt1{
        bottom: -11vh;
        background-image: url(../img/mountain/mt01.png);
        animation-duration: 35s;
    }
    .night{
        background-image: url(../img/mountain/night.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
        position: absolute;
        top:0;
        left: 0;
        transition-duration: 1s;
    }
    .switch{
        width: 60px;
        height: 30px;
        border-radius: 30px;
        position: absolute;
        bottom: 6px;
        right: 6px;
        border: 0.2ch solid black;
        background-color: gray;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    .CT .sw_color{
        background-color: rgb(50, 122, 205);
    }
    .sw_control{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #5C748A;
        border: 0.2px solid black;
        position: absolute;
        right: 0px;
        top:1px;
        transition-duration: 0.2s;
    }
    .switch .sw_on{
        right:30px;
    }
    @keyframes bcgmove{
        0%{
            background-position-x: 25%;
        }
        100%{
            background-position-x: 75%;
        }
    }
}