@mixin pic($url, $r, $p, $co) {
    background-image: $url;
    background-repeat: $r;
    background-position: $p;
    background-size: $co;
}

@media (max-width: 1799px) and (min-width: 1200px) {

    .mid_3o1 {
        width: 673.2px;
    }

    .mid_wid {
        width: 1000px;
        left: calc(50vw - 500px);
    }

    .tittle_wid {
        left: calc(50vw - 500px);
        width: 1000px;
    }

    .sr_bg_box {
        height: 480vh;
    }


    #outside_box {
        height: 660vh;

        #mv_page {
            top: 100vh;

            .mv_content {

                .mv_box_wid {
                    width: 650px;
                }

                .mv_box {
                    margin: 40px auto 0;
                    height: 402px;

                    iframe {
                        width: 650px;
                        height: 402px;
                    }
                }

                .mv_text {
                    margin: 40px auto 0;
                    height: 300px;
                    border-radius: 10px;
                }

                h3 {
                    font-size: 20px;
                    letter-spacing: 3px;
                    line-height: 30px;
                }
            }
        }

        #sp_page {
            top: 200vh;
            height: 250vh;

            #sp_tittle {
                height: 100px;
                top: 10vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 49px;
                }
            }

            .sp_box {
                width: 100%;
                height: 47%;

                .sp_pic {
                    width: 300px;
                    height: 50%;
                }

                .sp_text {
                    width: 400px;
                    height: 300px;

                    h2,
                    h3 {
                        margin: 12px;
                        letter-spacing: 3px;
                        line-height: 28px;
                    }

                    h2 {
                        font-size: 26px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }

                .sp_bd {
                    width: 396px;
                    height: 296px;
                    margin: 2px;
                }
            }

            #sp_outside_box {
                position: absolute;
                top: 25vh;
                left: calc(50vw - 500px);
                width: 1000px;
                height: calc(220vh - 100px);
            }

            #sp_box1 {
                top: 0;
            }

            #sp_box2 {
                bottom: 0;
            }

            #sp_pic2,
            #sp_pic4 {
                right: 0;
                bottom: 0;
            }

            #sp_text1,
            #sp_text3 {
                left: 0;
                top: 60%;
            }

            #sp_text2,
            #sp_text4 {
                right: 0;
                bottom: 60%;
            }

            #sp_pic1 {
                @include pic(url(../img/sp/wizard.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic2 {
                @include pic(url(../img/sp/elf.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic3 {
                @include pic(url(../img/sp/human.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic4 {
                @include pic(url(../img/sp/animal.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic1:hover,
            #sp_pic2:hover,
            #sp_pic3:hover,
            #sp_pic4:hover {
                background-size: 280px 453px;
            }

            #sp_page_border {
                width: 60%;
                height: 10px;
                bottom: 10px;
                left: 20%;
            }
        }

        #rc_page {
            top: 450vh;
            height: 200vh;

            .rc_box1 {
                height: 650px;
            }

            .rc_content_box3 {
                width: 300px;
                height: 300px;

                .rc_box3_pic {
                    width: 320px;
                    height: 198px;
                    top: -10px;
                    left: -10px;
                }

                .rc_box3_text {
                    width: 95%;
                    height: 40%;
                    bottom: 0;
                    left: 2.5%;

                    h3 {
                        left: 0;
                        font-size: 16px;
                        margin-left: 10px;
                        letter-spacing: 2px;
                        line-height: 25px;
                    }
                }
            }

            .box3_out:hover {

                .rc_box3_pic {
                    width: 340px;
                    height: 211px;
                    top: -20px;
                    left: -20px;
                }
            }

            .box3_in {
                left: -0.5px;
            }

            #rc_tittle {
                height: 100px;
                top: 15vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 49px;
                }
            }

            #rc_content_box1 {
                top: 35vh;

                #rc_box1_pic {
                    height: 500px;
                    width: 500px;
                    top: -20px;
                    left: -20px;
                }

                #rc_box1_text {
                    right: 0%;
                    bottom: 13%;
                    width: 47%;
                    height: 80%;

                    h3 {
                        left: 0;
                        font-size: 22px;
                        margin: 26px;
                        letter-spacing: 4px;
                        line-height: 35px;
                    }
                }

                #rc_box1_border {
                    left: 0;
                }
            }

            #rc_content_box2 {
                top: calc(45vh + 750px);
                height: 350px;
            }
        }

        #footer {
            bottom: 0;
            height: 10vh;

            #fo_txt_box {
                height: 80%;
                top: 10%;

                h2,
                h3 {
                    margin: 12px 0;
                }

                h2 {
                    font-size: 19px;
                    letter-spacing: 2px;
                }

                h3 {
                    font-size: 21px;
                    letter-spacing: 3px;
                }
            }
        }
    }
}

@media (max-width: 1199px) and (min-width: 720px) {

    .mid_3o1 {
        width: 500px;
    }

    .mid_wid {
        width: 500px;
        left: calc(50vw - 250px);
    }

    .tittle_wid {
        left: calc(50vw - 250px);
        width: 500px;
    }

    .sr_bg_box {
        height: 580vh;
    }


    .burger_box_wid1 {
        width: 155px;
    }


    #outside_box {
        height: 860vh;

        #nav_page {

            #burger_box2 {
                height: 100vh;

                #nav_box {
                    width: 90%;
                    height: 40%;
                    top: 15%;
                    left: 10%;
                    text-align: center;

                    h2 {
                        letter-spacing: 8px;
                        font-size: 26px;
                    }
                }
            }

        //     #burger_btn2 {

        //         .burger2_bar {
        //             top: calc(50% - 1.5px);
        //             left: 15%;
        //             width: 70%;
        //             height: 3px;
        //             border-radius: 2px;
        //         }
        //     }
        }

        #hm_page {

            #hm_mid_box {
                left: calc(50vw - 250px);
            }
        }

        #mv_page {
            top: 100vh;
            height: 200vh;

            .ful_height {
                height: 200vh;
            }

            .poster {
                width: 100vw;
            }

            .mv_content {
                top: 100vh;
                right: 0;
                width: 100vw;

                .mv_box_wid {
                    width: 650px;
                }

                .mv_box {
                    margin: 100px auto 80px;
                    height: 402px;

                    iframe {
                        width: 650px;
                        height: 402px;
                    }
                }

                .mv_text {
                    margin: 40px auto 0;
                    height: 400px;
                    border-radius: 10px;
                }

                h3 {
                    font-size: 21px;
                    letter-spacing: 4px;
                    line-height: 31px;
                }
            }
        }

        #sp_page {
            top: 300vh;
            height: 250vh;

            #sp_tittle {
                height: 100px;
                top: 10vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 49px;
                }
            }

            .sp_box {
                width: 100%;
                height: 47%;

                .sp_pic {
                    width: 300px;
                    height: 50%;
                }

                .sp_text {
                    width: 350px;
                    height: 250px;

                    h2,
                    h3 {
                        margin: 8px;
                        letter-spacing: 3px;
                        line-height: 22px;
                    }

                    h2 {
                        font-size: 22px;
                    }

                    h3 {
                        font-size: 17px;
                    }
                }

                .sp_bd {
                    width: 346px;
                    height: 246px;
                    margin: 2px;
                }
            }

            #sp_outside_box {
                position: absolute;
                top: 25vh;
                left: calc(50vw - 340px);
                width: 680px;
                height: calc(220vh - 100px);
            }

            #sp_box1 {
                top: 0;
            }

            #sp_box2 {
                bottom: 0;
            }

            #sp_pic2,
            #sp_pic4 {
                right: 0;
                bottom: 0;
            }

            #sp_text1,
            #sp_text3 {
                right: 0;
                top: 20px;
            }

            #sp_text2,
            #sp_text4 {
                bottom: 20px;
            }

            #sp_pic1 {
                @include pic(url(../img/sp/wizard.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic2 {
                @include pic(url(../img/sp/elf.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic3 {
                @include pic(url(../img/sp/human.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic4 {
                @include pic(url(../img/sp/animal.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic1:hover,
            #sp_pic2:hover,
            #sp_pic3:hover,
            #sp_pic4:hover {
                background-size: 280px 453px;
            }

            #sp_page_border {
                width: 60%;
                height: 10px;
                bottom: 10px;
                left: 20%;
            }
        }

        #rc_page {
            top: 550vh;
            height: 300vh;

            .rc_box1 {
                height: 700px;
            }

            .rc_content_box3 {
                width: 450px;
                height: 450px;

                .rc_box3_pic {
                    width: 470px;
                    height: 291px;
                    top: -10px;
                    left: -10px;
                }

                .rc_box3_text {
                    width: 95%;
                    height: 35%;
                    bottom: 0;
                    left: 2.5%;

                    h3 {
                        left: 0;
                        font-size: 24px;
                        margin-left: 10px;
                        letter-spacing: 3px;
                        line-height: 28px;
                    }
                }
            }

            .box3_out:hover {

                .rc_box3_pic {
                    width: 490px;
                    height: 304px;
                    top: -20px;
                    left: -20px;
                }
            }

            .box3_in {
                left: -0.5px;
            }

            #rc_tittle {
                height: 100px;
                top: 15vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 49px;
                }
            }

            #rc_content_box1 {
                top: 35vh;

                #rc_box1_pic {
                    height: 300px;
                    width: 300px;
                    top: -20px;
                    left: -20px;
                }

                #rc_box1_text {
                    right: 0%;
                    bottom: -18%;
                    width: 96%;
                    height: 80%;

                    h3 {
                        text-align: center;
                        left: 0;
                        font-size: 18px;
                        margin: 24px;
                        letter-spacing: 4px;
                        line-height: 30px;
                    }
                }

                #rc_box1_border {
                    left: 0;
                }
            }

            #rc_content_box2 {
                top: calc(45vh + 750px);
                height: 1500px;
                align-items: center;
                flex-direction: column;
            }
        }

        #footer {
            bottom: 0;
            height: 15vh;

            #fo_txt_box {
                height: 80%;
                top: 10%;

                h2,
                h3 {
                    margin: 8px 0;
                }

                h2 {
                    font-size: 19px;
                    letter-spacing: 2px;
                    line-height: 32px;
                }

                h3 {
                    font-size: 21px;
                    letter-spacing: 3px;
                    line-height: 35px;
                }
            }
        }
    }
}
@media (max-width: 719px){

    .mid_3o1 {
        width: 200px;
    }

    .mid_wid {
        width: 300px;
        left: calc(50vw - 150px);
    }

    .tittle_wid {
        left: 10vw;
        width: 50px;
    }

    .sr_bg_box {
        height: 5800px;
    }

    .burger_box_wid0 {
        left: -100vw;
        width: 100vw;
    }

    .burger_box_wid1 {
        width: 100vw;
    }


    #outside_box {
        height: calc(5800px + 300vh);

        #nav_page {

            .burger_box3 {
                top: 10px;
                right: 5px;
                width: 40px;
                height: 40px;

                .burger_btn_box0 {
                    width: 10px;
                    height: 10px;
                }
            }


            #burger_box1 {
                height: 80px;

                .burger_ball_w0 {
                    width: 12%;
                }
            }

            #burger_box2 {
                height: 100vh;

                #nav_box {
                    width: 90%;
                    height: 40%;
                    top: 15%;
                    left: 5%;
                    text-align: center;

                    h2 {
                        letter-spacing: 8px;
                        font-size: 26px;
                    }
                }
            }

        //     #burger_btn2 {

        //         .burger2_bar {
        //             top: calc(50% - 1.5px);
        //             left: 15%;
        //             width: 70%;
        //             height: 3px;
        //             border-radius: 2px;
        //         }
        //     }
        }

        #hm_page {

            #hm_mid_box {
                left: calc(50vw - 100px);

                #hm_text {
                    top: 50px;
                    height: 100px;

                    #hm_tittle {
                        height: 40px;

                        h4 {
                            font-size: 18px;
                        }
                    }

                    #hm_content {
                        top: 135px;
                        height: 180px;

                        h2 {
                            font-size: 22px;
                        }

                        h4 {
                            margin-top: 20px;
                            font-size: 15px;
                            letter-spacing: 3px;
                        }
                    }
                }

                #hm_logo {
                    top: 70px;
                    height: 130px;
                }

            }

        }

        #mv_page {
            top: 100vh;
            height: 200vh;

            .ful_height {
                height: 200vh;
            }

            .poster {
                width: 100vw;
            }

            .mv_content {
                top: 100vh;
                right: 0;
                width: 100vw;

                .mv_box_wid {
                    width: 300px;
                }

                .mv_box {
                    margin: 50px auto 20px;
                    height: 185px;

                    iframe {
                        width: 300px;
                        height: 185px;
                    }
                }

                .mv_text {
                    margin: 10px auto 0;
                    height: 250px;
                    border-radius: 10px;
                }

                h3 {
                    font-size: 12px;
                    letter-spacing: 2px;
                    line-height: 20px;
                }
            }
        }

        #sp_page {
            top: 300vh;
            height:3520px;

            #sp_tittle {
                height: 100px;
                top: 7vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 29px;
                }
            }

            .sp_box {
                width: 100%;
                height: 1660px;

                .sp_pic {
                    width: 300px;
                    height: 480px;
                }

                .sp_text {
                    width: 280px;
                    height: 300px;

                    h2,
                    h3 {
                        margin: 8px;
                        letter-spacing: 3px;
                        line-height: 22px;
                    }

                    h2 {
                        font-size: 22px;
                    }

                    h3 {
                        font-size: 17px;
                    }
                }

                .sp_bd {
                    width: 276px;
                    height: 296px;
                    margin: 2px;
                }
            }

            #sp_outside_box {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100vw;
                height: 3420px;
            }

            #sp_box1 {
                top: 0;
            }

            #sp_box2 {
                bottom: 0;
            }

            #sp_pic2,
            #sp_pic4 {
                right: calc(50vw - 150px);
                bottom: 325px;
            }

            #sp_pic1,
            #sp_pic3 {
                left:calc(50vw - 150px);
                top: 0;
            }

            #sp_text1,
            #sp_text3 {
                left:calc(50vw - 140px);
                top: 505px;
            }

            #sp_text2,
            #sp_text4 {
                left:calc(50vw - 140px);
                bottom: 0px;
            }

            #sp_pic1 {
                @include pic(url(../img/sp/wizard.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic2 {
                @include pic(url(../img/sp/elf.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic3 {
                @include pic(url(../img/sp/human.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic4 {
                @include pic(url(../img/sp/animal.png), no-repeat, 50% 50%, 275px 448px);
            }

            #sp_pic1:hover,
            #sp_pic2:hover,
            #sp_pic3:hover,
            #sp_pic4:hover {
                background-size: 280px 453px;
            }

            #sp_page_border {
                width: 60%;
                height: 10px;
                bottom: 0px;
                left: 20%;
            }
        }

        #rc_page {
            top: calc(3520px + 300vh);
            height: 2280px;

            .rc_box1 {
                height: 750px;
            }

            .rc_content_box3 {
                width: 300px;
                height: 300px;

                .rc_box3_pic {
                    width: 320px;
                    height: 198px;
                    top: -10px;
                    left: -10px;
                }

                .rc_box3_text {
                    width: 95%;
                    height: 35%;
                    bottom: 0;
                    left: 2.5%;

                    h3 {
                        left: 0;
                        font-size: 14px;
                        margin-left: 10px;
                        letter-spacing: 3px;
                        line-height: 22px;
                    }
                }
            }

            .box3_out:hover {

                .rc_box3_pic {
                    width: 340px;
                    height: 211px;
                    top: -20px;
                    left: -20px;
                }
            }

            .box3_in {
                left: -0.5px;
            }

            #rc_tittle {
                height: 100px;
                top: 7vh;

                h2 {
                    letter-spacing: 10px;
                    font-size: 29px;
                }
            }

            #rc_content_box1 {
                top: 20vh;

                #rc_box1_pic {
                    height: 340px;
                    width: 340px;
                    top: -20px;
                    left: -20px;
                }

                #rc_box1_text {
                    right: 0%;
                    bottom: -25%;
                    width: 96%;
                    height: 80%;

                    h3 {
                        text-align: center;
                        left: 0;
                        font-size: 14px;
                        margin: 8px;
                        letter-spacing: 3px;
                        line-height: 25px;
                    }
                }

                #rc_box1_border {
                    left: 0;
                }
            }

            #rc_content_box2 {
                top: calc(25vh + 830px);
                height: 1050px;
                align-items: center;
                flex-direction: column;
            }
        }

        #footer {
            bottom: 0;
            height: 25vh;

            #fo_txt_box {
                height: 80%;
                top: 10%;

                h2,
                h3 {
                    margin: 8px 0;
                }

                h2 {
                    font-size: 14px;
                    letter-spacing: 2px;
                    line-height: 22px;
                }

                h3 {
                    font-size: 16px;
                    letter-spacing: 3px;
                    line-height: 25px;
                }
            }
        }
    }
}